body{
	padding: 0;
	margin:0 auto;
	background: none;
   max-width:1366px;
}
html{
	padding-bottom: 10px;
}
*{
	color:#3d3d3d;
	font-family:微软雅黑,"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}
a{
	color: #666;
}
a:hover{
	color: #3c3c3c;
   text-decoration: none; 
	color: #666;
}
a:visited{
	color: #666;	
}
a{ 
bblr:expression(this.onFocus=this.blur()) !important;/*IE使用*/ 
outline-style:none !important;/*FF使用*/ 
} /*去除a标签带来的虚框*/
a{blr:expression(this.onFocus=this.close()) !important;} /* 只支持IE，过多使用效率低 */ 　 
a{blr:expression(this.onFocus=this.blur()) !important;} /* 只支持IE，过多使用效率低 */ 　 
a:focus { -moz-outline-style: none !important; } /* IE不支持 */ 

.outa{
	display: block;
}
.outa:hover,.outa:active{
   background: #f6f6f6;
}

h3{
}
h4{
}
h3 a,h4 a{
	font-size: inherit;
}
h5{
}
h6{
	line-height: 1.5em;
}

h5 .ft-or{
	line-height: 1.5em;
}

p{
	color: #494949;
	margin-bottom: 0;
	line-height: 1.7em;
}
p a{
	color: #494949;
}
p a:hover{
	color: black;
}
.alignleft{
	text-align: left !important;
}
.alignright{
	text-align: right !important;
}
.aligncenter{
	text-align: center !important;
}
.nowrap{
	white-space: nowrap;
}
.floatleft{
	float: left;
}
.floatright{
	float: right;
}
.rightline1{
	border-right:1px solid #e1e1e1;
}
.line1{
	margin: 5px 0;
}
.link1{
	color:#00b0eb;
}
.link1:hover{
	text-decoration: underline;
	color:#00b0eb;
}
.red1{	
   font-weight: bold;
	font-size: 14px;
	padding: 0 5px;
	color: #f40036;
}
.clear{
	clear: both;
}
.noborder{
	border: none !important;	
}
.hrblack{
   border-color: black;
}
.hrwhite{
	border-color: rgba(255,255,255,0.5);
}
.hrgray01{
	border-color: rgba(0,0,0,0.1);
	margin:5px  0;
}
.imgnormal{
	width: auto;
}
.ft-blue,.ft-blue a{
	color: #0379d5 !important;
}
.ft-blue,.ft-blue a:hover{
	color: White;
}
.ft-green,.ft-green a{
	color: #0ba130 !important;
}
.ft-green2,.ft-green2 a{
	color: #1fa693 !important;
}
.ft-black,.ft-black a{
	color: black !important;
	font-size: inherit;
}
.ft-gray,.ft-gray a{
	color: #303030 !important;
	font-size: inherit;
}
.ft-gray2,.ft-gray2 a{
	color: #cccccc !important;
}
.ft-gray3,.ft-gray3 a{
	color: #767676 !important;
}
.ft-red,.ft-red a{
	color: red !important;
	white-space: normal;
}
.ft-red2,.ft-red2 a{
	color: #e4007f !important;
	white-space: normal;
}
.ft-white,.ft-white a{
	color: white !important;
	white-space: normal;
}
.ft-or,.ft-or a,.ft-or i,.ft-or small{
	color: #ff7725 !important;
	white-space: normal;
	font-style: normal;
}
.ft-10{
	font-size: 10px !important;
}
.ft-11{
	font-size: 11px;
}
.ft-12{
	font-size: 12px;
}
.ft-13{
	font-size: 13px;
}
.ft-14{
	font-size: 14px;
}
.ft-16,.ft-16 i{
	font-size: 16px !important;
}
.ft-18,.ft-18 i{
	font-size: 18px !important;
}
.ft-20{
	font-size: 20px;
}
.ft-price{
	font-size: 2em;
}
.ft-price2{
	font-size: 1.3em;
}
.ft-style1,.ft-style1 a{
	color: #ff8f21 !important;
	white-space: normal;
}
.ft-bold{
	font-weight: bold;
}
.price{
	color: #cf0055;	
	font-family:宋体;
}
.ft-bigger{
	font-size: 1.2em;
}
.lineheight20{
	line-height: 1.5em;
}
.ft-small{
	font-size: 0.6em;
}
label{
	font-weight:  normal !important;
}