body{
	padding: 0;
	margin: 0;
	/*background: none;*/
	line-height: 1.6;
	background: #F2F6F9;
}
html{
	background: #f0f0f0;
}
*{
	font-size: 12px;
	color:#3d3d3d;
	font-family:"Microsoft YaHei","微软雅黑","MicrosoftJhengHei","华文黑体",STHeiti,MingLiu;
}
.header1{
	width: 100%;
}
a:hover{
	color: #3c3c3c;
   text-decoration: none; 
}
a{ 
bblr:expression(this.onFocus=this.blur()) !important;
outline-style:none !important;
}
a{blr:expression(this.onFocus=this.close()) !important;}
a{blr:expression(this.onFocus=this.blur()) !important;}
a:focus { -moz-outline-style: none !important; }

.outa{
	display: block;
}
.outa:hover,.outa:active{
   background: #f6f6f6;
}

h6{
	line-height: 1.5em;
}

h5 .ft-or{
	line-height: 1.5em;
}

p{
	color: #494949;
	margin-bottom: 0;
}
p a{
	color: #494949;
}
p a:hover{
	color: black;
}
.alignleft{
	text-align: left !important;
}
.alignright{
	text-align: right !important;
}
.aligncenter{
	text-align: center !important;
}
.nowrap{
	white-space: nowrap;
}
.floatleft{
	float: left;
}
.floatright{
	float: right;
}
.rightline1{
	border-right:1px solid #e1e1e1;
}
.link1{
	color:#00b0eb;
}
.link1:hover{
	text-decoration: underline;
	color:#00b0eb;
}
.red1{	
   font-weight: bold;
	font-size: 14px;
	padding: 0 5px;
	color: #f40036;
}
.clear{
	clear: both;
}

.mainbody .breadcrumb{
	background: none;
	margin-bottom: 0;
}
.mainbody .breadcrumb li{
	color: #999999;
	font-size:0.9em;
}
.mainbody .breadcrumb li a{
	font-size:1em;	
}


.jkstaturs{
	*padding-bottom:4px;
}


.jkdata .jkje{
	color: #2ea4d2;
	font-size: 26px;
	line-height: 1em;
}
.jkdata .jkje i{
   font-style: normal;
	color: #2ea4d2;
	font-size: 18px;
}


.jkdata .jkmonth{
	color: #2ea4d2;
	font-size: 26px;
	line-height: 1em;
}
.jkdata .jkmonth i{
   font-style: normal;
	color: #2ea4d2;
	font-size: 14px;
}

.jkdata .jklx{
	color: #2ea4d2;
	font-size: 16px;
	line-height: 1em;
}
.jkdata .jklx i{
   font-style: normal;
	color: #2ea4d2;
}
.jkdata span,.jkdata td{
	color: #999;
}
.restime{
	border: 1px solid #d1ddec;
	padding: 15px;
	text-align: center;
	color: #999;
	*border: 1px solid #d1ddec !important;
}
.restime i{
	color: #2ea4d2;
	font-size: 20px;
	font-style: normal;
	padding:0 5px;
}
/*新增*/
/*分割线*/

	/*新增*/
.jkinfotable td,.jkinfotable th{
	padding: 4px 5px;
}
.jkinfotable th{
	color: #999;
	font-weight: normal;
	white-space: nowrap;
	text-align: right;
}
.jkinfotable td{
	font-size: 13px;
	color: Black;
}
.jkinfotable td a{
   font-size: 13px;
}
.bc01{
	*padding-left:25px;
	*margin-left:-5px;
}
.bc01 *{
	font-size: 13px !important;
}
.bc02{
	*padding-left:0px;
	margin-left:-30px;
}
.bc02 *{
	font-size: 13px !important;
}
.xyview{
   color: #999;
}
.ftytb{
	color: #828282;
	padding-top: 10px;
	padding-bottom: 10px;
	*left:10px;
}
.ftytb small,.ftytb i{
	color: #12adff;
}
.ftytb small{
	font-size: 11px;
}
.ftytb i{
   font-size: 15px;
   font-style: normal;
}
.progress-one{
	height: 5px;
	margin-top: 6px;
	margin-right: -10px;
	margin-bottom: 0;
	*margin-left:10px;
}
.jdz{	
	color: #12adff;
	font-size: 16px;
	text-align: left;
}
.tbtable1{
	margin-bottom: 20px;
}
.tbtable1 th{
   color: #828282;	
	font-weight: normal;
	border-bottom: 1px solid #eee;	
	font-size: 13px;
}
.tbtable1 td{
   color: #828282;	
	text-align: right;
	padding: 8px 5px;
	border-bottom: 1px solid #eee;	
	font-size: 13px;
}
.tbtable1 td a{
	color: #2ea4d2;
	font-size: 13px;
}
.price1 i{
	color:#ff8c25;
	font-size: 20px;
	font-style: normal;
}

/*partb tbfrom1新增*/
.tbform1 label{
   font-weight: normal;
	font-size:13px;   
}

.tbform1 .help-block{
	margin: 0;
	text-align: right;
	padding: 3px 0;
   margin-bottom: 10px;
}
.tbform1 .help-block i{
   color: #12adff;
	font-style: normal;
}
.tbform1 .help-block strong{
	color:#e7420a;
	font-weight: normal;
}
.tbform1 .help-block2{
	color:#e7420a;
	text-align: center;	
}
.tbtool2{
   background: #f7f7f7;
	margin-top: 15px;
	padding: 0;
}
.tbtool2 .col-xs-6{
	padding: 0;
}
.tbtool2 a{
   display: block;
	padding: 10px 15px;	
	color: #949494;
}
.tbtool2 a img{
	padding-right: 5px;
}
.tbtool2 a:hover{
   background: #e3e3e3;
}



.input02{
	border-radius: 0px;
	font-size: 22px;
	line-height: 30px;
	height: 40px;
	text-align: left;
	color:#313131;
	padding: 0 10px;
	*width: 263px;
}
.input02:hover{
}

.input02::-moz-placeholder {
  color: #999;
	font-size: 16px;
  opacity: 1;
}
.input02:-ms-input-placeholder {
  color: #999;
	font-size: 16px;
}
.input02::-webkit-input-placeholder {
  color: #999;
	font-size: 16px;
}







.btn-hkz{
	background: #e8e8e8;
	color: #9e9e9e;
	width: 100%;
	border: none;
	font-size: 16px;
	margin: 4px 0;
	margin-top:20px;
}
.btn-hkz:hover{
	color: White;	
	background: #ff5400;
}



.btn-save{
	background: #ff8c25;
	color: White;
	border: none;
	margin: 4px 0;
}
.btn-save:hover{
	color: White;	
	background: #ff5400;
}


.nav-list{
	padding:0 25px 0 25px;
}

.nav-tabs1 {
  border-bottom: 1px solid #ddd;
  margin: 0;
}
.nav-tabs1 > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs1 > li > a {
  /*margin-right: 2px;*/
  line-height: 1.42857143;
  font-size: 17px;
  color: #5f7a8d;
  /*padding: 16px 31px;*/
  padding: 16px 6px 16px 6px;
	margin-right: 25px;
  background: White;
  font-weight: bold;

}
.nav-tabs1 > li > a:hover {
  background: #ff8c25;
  color: White;
  border-bottom: 2px solid #ff8c25;
}
.nav-tabs1 > li.active > a,
.nav-tabs1 > li.active > a:hover,
.nav-tabs1 > li.active > a:focus {
  cursor: default;
  /*border-bottom:3px solid #00afeb;*/
  border-bottom: 2px solid #ff8c25;
  font-size: 17px;
  color: #ff8c25;
  /*padding: 16px 31px;*/
  padding: 16px 6px 16px 6px;
  background: White;
}
.nav-tabs1 > li.active > a:hover{
  background: #ff8c25;
  color: White;	
}

.nav-tabs1.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs1.nav-justified > li {
  float: none;
}
.nav-tabs1.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.nav-tabs1.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-tabs1.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs1.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs1.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs1.nav-justified > .active > a,
.nav-tabs1.nav-justified > .active > a:hover,
.nav-tabs1.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .nav-tabs1.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs1.nav-justified > .active > a,
  .nav-tabs1.nav-justified > .active > a:hover,
  .nav-tabs1.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}

.tab-pane2{
	padding: 17px;	
	min-height: 600px;
}




.nav-tabs2 {
  border-bottom: 1px solid #ddd;
}
.nav-tabs2 > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs2 > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  font-size: 14px;
  color: #444;
}
.nav-tabs2 > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs2 > li.active > a,
.nav-tabs2 > li.active > a:hover,
.nav-tabs2 > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  font-size: 14px;
  font-weight: bold;
  color: #ff8c25;
}
.nav-tabs2.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs2.nav-justified > li {
  float: none;
}
.nav-tabs2.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.nav-tabs2.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-tabs2.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs2.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs2.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs2.nav-justified > .active > a,
.nav-tabs2.nav-justified > .active > a:hover,
.nav-tabs2.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .nav-tabs2.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs2.nav-justified > .active > a,
  .nav-tabs2.nav-justified > .active > a:hover,
  .nav-tabs2.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}







.nav-tabs3 {
  border-bottom: 1px solid #ddd;
}
.nav-tabs3 > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs3 > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  font-size: 14px;
  color: #444;
  display: block;
  width:255px;
  height: 90px;
}
.nav-tabs3 > li > a > img{
	float: left;
}
.nav-tabs3 > li > a > h4{
	padding-top:12px;
	float: left;
	width: 100px;
	text-align: center;
}

.nav-tabs3 > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs3 > li.active > a,
.nav-tabs3 > li.active > a:hover,
.nav-tabs3 > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  font-size: 14px;
  font-weight: bold;
  color: #ff8c25;
	background: #efefef;
  color: #49a512;
 
}
.nav-tabs3.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs3.nav-justified > li {
  float: none;
}
.nav-tabs3.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.nav-tabs3.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-tabs3.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs3.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs3.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs3.nav-justified > .active > a,
.nav-tabs3.nav-justified > .active > a:hover,
.nav-tabs3.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .nav-tabs3.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs3.nav-justified > .active > a,
  .nav-tabs3.nav-justified > .active > a:hover,
  .nav-tabs3.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}




.jkxqtitle .alignright{
	float: right;
}


.jkxqdetail .view01 .dl-horizontal dt,.jkxqdetail .view01 .dl-horizontal dd{
	line-height: 2em;
	font-size: 14px;
}




.photolist{
	padding: 0 20px;
}
.photolist .col-xs-1,.photolist .col-xs-10{
	padding: 0;
} 
.photolist .col-xs-1{
	padding-top: 20px;
	text-align: center;
}
.photolist .col-xs-1 a img{	
	border:1px solid white;
}
.photolist .col-xs-1 a:hover img{
	border:1px solid #d4d4d4;
}
.loginpart{
	margin-top: 50px;
	margin-bottom:50px;
	width: 990px;
	min-height: 315px;
	border: 1px solid #e7e7e7;
	border-radius: 4px;
	background: White;
	 -moz-box-shadow:2px 2px 2px #e0e0e0;  
    -webkit-box-shadow:2px 2px 2px #e0e0e0;  
    box-shadow:2px 2px 2px #e0e0e0;  
    *filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color="#e0e0e0");  

}
.loginpart .col-xs-7,.loginpart .col-xs-5{
	padding: 0;
}
.loginpart .col-xs-7{
	overflow: hidden;
}
.loginpart .col-xs-5{
	background: White;
	padding:30px 80px;
}
.loginpart .input-group{
	padding-bottom: 15px;
	width: 100%;
}
.loginpart h5{
	width: 100%;
	font-size:16px;
	margin-bottom: 20px;
}
.loginpart h5 span{
	float: right;
	margin-top:4px;
}
.loginpart .btn-login{
	width: 100%;
	margin-top: 10px;
}
.alert1{
	color: #f40036;
	text-align: center;
	padding: 10px;
}

.regpart{
	margin-top: 50px;
	margin-bottom:50px;
	width: 990px;
	min-height: 450px;
	padding-bottom: 30px;
	border: 1px solid #e7e7e7;
	border-radius: 4px;
	background: White;
	 -moz-box-shadow:2px 2px 2px #e0e0e0;  
    -webkit-box-shadow:2px 2px 2px #e0e0e0;  
    box-shadow:2px 2px 2px #e0e0e0;  
    *filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color="#e0e0e0");  
}
.regpart h4{
	padding-left: 20px;
	padding-top:10px;
}
.regpart .col-xs-7,.regpart .col-xs-5{
	padding: 50px;
}
.regpart .col-xs-5{
	padding: 50px 0;
}
.regpart h4 span{
	float: right;
	margin-top:4px;
	margin-right: 20px;	
}
.regpart  label{
	font-size: 14px;
	font-weight: normal;
	padding-right: 0;
}
.regpart .yzm{
	padding-left: 0;
}



.serv1{
	width:200px;
	padding-top:10px;
	padding-bottom: 10px;
	padding-right:0;
}
.serv1 a img{
	margin-top: 8px;
}




.btn-cancle {
  background: #e1e1e1;
  color: #8e8e8e;
  margin-left: 15px;
}
.btn-cancle:hover,
.btn-cancle:focus,
.btn-cancle.focus,
.btn-cancle:active,
.btn-cancle.active,
.open > .dropdown-toggle.btn-cancle {
background: #46af00;
color: White;
}
.btn-cancle:active,
.btn-cancle.active,
.open > .dropdown-toggle.btn-cancle {
  background-image: none;
}
.btn-cancle.disabled,
.btn-cancle[disabled],
fieldset[disabled] .btn-cancle,
.btn-cancle.disabled:hover,
.btn-cancle[disabled]:hover,
fieldset[disabled] .btn-cancle:hover,
.btn-cancle.disabled:focus,
.btn-cancle[disabled]:focus,
fieldset[disabled] .btn-cancle:focus,
.btn-cancle.disabled.focus,
.btn-cancle[disabled].focus,
fieldset[disabled] .btn-cancle.focus,
.btn-cancle.disabled:active,
.btn-cancle[disabled]:active,
fieldset[disabled] .btn-cancle:active,
.btn-cancle.disabled.active,
.btn-cancle[disabled].active,
fieldset[disabled] .btn-cancle.active {
  background-color: #fff;
}
.btn-cancle .badge {
  color: #fff;
  background-color: #333;
}





.pstyle2{	
	background: white;
	border:1px solid #e3e3e3;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 10px;
}

.indexpart .mainright2{
	padding: 0;
}
.indexpart .mainleft2{
	padding-left: 0;
}




.per-centum {
	color: #999;
	font-size: 12px;
	text-align: right;
	width: 62px;
}

.restime1{
	color: red;
	white-space: nowrap;
}
.tzdata{
	padding:12px 30px;
	padding-bottom: 0;
	padding-right: 0;
}
.tzdata .ft1{
	color:#ffa804;
	font-size:25px;
	padding-right:4px;
}
.tzdata .ft2{
	color:#ffa804;
	font-size:12px;
}
.tzdata .ft3{
	color:#7dc347;
	font-size:25px;
	padding-right:4px;
}
.tzdata .col-xs-3,.tzdata .col-xs-4,.tzdata .col-xs-5{
	white-space: nowrap;
	color: #878787;
}
.tzmore{
	padding: 15px 25px;
	padding-top: 20px;
}
.tzmore a{
	color:#347fff;
	font-size: 14px;
	font-weight: bold;
}
.tzmore a:hover{
	text-decoration: underline;
}





.xieyi{
   width: 960px;
	margin-top:20px;
	margin-bottom:20px;
	border:1px solid #e3e3e3;
	background: White;
	padding: 50px;
	
}
.xieyi .article{
	line-height: 1.8em;
}
.xieyi .article p{
   
	font-size: 13px;
}
.xieyi .article b{
	color: Black;
	font-size: 14px;
}
.xieyi .article p{
	padding:10px 0;
}
.xytable1{
   margin: 0 auto;
}
.xytable1 th,.xytable1 td{
	padding: 10px;
	border: 1px solid #686868;
}

.linetable1{
   margin: 0 auto;
}
.linetable1 th,.linetable1 td{
	padding: 10px;
	border: 1px dotted #b5b5b5 !important;
}
.xybg{
	background:white no-repeat url(../images/xyfb.png) right top;
}
.ft-green{
  color: #49a512;
	font-size: inherit;
	white-space: nowrap;
}
.ft-red{
	color: red !important;
	font-size: inherit;
	white-space: nowrap;
}
.ft-or{
	color: #ff8c25 !important;
	font-size: inherit;
	white-space: nowrap;
}
.ft-blue{
	color:#3964dd !important;
	font-size: inherit;
	white-space: nowrap;
}
.ft-blue2{
	color:#11a1ca !important;
	font-size: inherit;
	white-space: nowrap;
}
.ft-gray{
	color:#b8b8b8 !important;
	font-size: inherit;
	white-space: nowrap;
}
.ft-gray2{
	color:#666666 !important;
	font-size: inherit;
	white-space: nowrap;
}
.ft-b120b{
	color: #202020 !important;
	font-weight: bold;
	font-size: inherit;
}
.ft-14{
	font-size: 14px;
}
.ft-16{
	font-size: 16px;
}
.lineheight20{
	line-height: 2.0em;
}
.lineheight25{
	line-height: 2.5em;
}

.usercenter .partin{
	width: 1051px;
	margin: 0 auto;
	margin-bottom: 10px;	
	margin-top:20px;
}
.usercenter .mainright{
	padding-left: 0;
}


.usercenter2 .partin{
	width: 1051px;
	margin: 0 auto;
	margin-bottom: 10px;	
	margin-top:0px;
}
.usercenter2 .mainright{
	padding-left: 20px;
}
.usercenter2 .leftmenu{
	width: 170px;
}
.usercenter2 .pstyle1 {
}
.usercenter2 .pstyle1 .row{
	width: 100%;
	padding-left: 20px;
}
.usercenter2 .title5 a{
   display: block;
	background: #eee;
	text-align: left;
	padding: 5px 0;
	margin-bottom: 10px;
	font-size: 14px;
   color: #666;
	padding-left: 10px;
}
.usercenter2 .title1{
	padding-left: 0 !important;
}
.helplink .col-xs-12{
	padding: 0;
}
.helplink .col-xs-6{
	padding: 0;
	padding-right: 8px;
}
.leftmenu .lefticon01{
	background: url(../images/lefticon.png) no-repeat 8px 5px;
}
.leftmenu .lefticon02{
	background: url(../images/lefticon-02.png) no-repeat 8px 5px;
}
.leftmenu .lefticon03{
	background: url(../images/lefticon-03.png) no-repeat 8px 5px;
}
.leftmenu .lefticon04{
	background: url(../images/lefticon-04.png) no-repeat 8px 5px;
}
.leftmenu .lefticon05{
	background: url(../images/lefticon-05.png) no-repeat 8px 5px;
}
.leftmenu .lefticon06{
	background: url(../images/lefticon-06.png) no-repeat 8px 5px;
}
.leftmenu .lefticon07{
	background: url(../images/lefticon-07.png) no-repeat 8px 5px;
}
.leftmenu .cur{
 	background-color: #ffd986;
}

.username{
	color: #ffa804;
	font-size:20px;
	padding:80px 0;
}
.userpic{
	width: 100px;
	height: 100px;
	margin-bottom:10px;
}


.table1 th{
	background: #e8e8e8;
	color: #424242;
	padding: 10px;
   text-align: left;
	border-bottom:2px solid white;
	white-space: nowrap;
}
.table1 td{
	padding: 10px;
   background: white;
	border-bottom:1px solid #e3e3e3;
}
.table2 th{
	background: #e8e8e8;
	color: #424242;
	padding: 10px;
   text-align: left;
	border:1px solid #dadada;
}
.table2 td{
	padding: 10px;
   background: white;
	border:1px solid #dadada;
}

.table3 th{
	background: #e8e8e8;
	color: #424242;
	padding: 15px;
   text-align: left;
	border:1px solid #dadada;
	font-size: 14px;
}
.table3 td{
	padding: 14px;
   background: white;
	font-size: 14px;
	border:1px solid #e2e2e2;
}
.table3 td span{
	line-height: 3em;
	padding-left: 20px;
	font-size:12px;
	color: #b4b4b4;
}


.table3-2 th{
	background: #e8e8e8;
	color: #424242;
	padding: 12px;
   text-align: left;
	font-size: 14px;
}
.table3-2 td{
	padding: 12px;
   background: white;
	font-size: 14px;
}
.table3-2 td span{
	line-height: 3em;
	padding-left: 20px;
	font-size:12px;
	color: #b4b4b4;
}





.table4 th{
	padding: 5px 0;
}
.table4 td{
	padding: 5px 0;
	font-size:14px;
}


.pad10{
	padding: 10px;
}
.pad15{
	padding: 15px;
}
.pad20{
	padding: 20px;
}
.pad0020{
	padding: 0 20px;
}
.pad50{
	padding: 50px;
}
.alertpart1{
	background: #fffdd6;
	border: 1px solid #ebcfb6;
	padding: 20px;
	border-radius: 6px;
}
.alertpart1 hr{
	margin: 5px 0;
	margin-bottom: 10px;
	border-color: #ebcfb6;
	border-style: dashed;
}
.alertpart1 h5{
   margin-top: 0;
}
.minheight400{
	min-height: 400px;
}
.form-search1{
	padding: 10px;
}
.form-search1 label{
	padding: 0 10px;
	font-weight: normal;
	white-space: nowrap;
	line-height: 2.5em;
   text-align: right;
}
.form-search1 .col-xs-1,.form-search1 .col-xs-2{
	padding:0 5px;
}
.form-search1 .form-control{
	width: 100%;
}

.modalA .modal-dialog{
	background: none !important;
	width: 600px;
	margin:0 auto;
   margin-top: 100px; 
	margin-bottom: 50px;
}
.modalA .close{	
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=100);
  opacity: 1;
  margin-top: -8px;
  margin-right:10px;
}
.modalA .close span{
	font-size: 30px;
	color: White;
}
.modalA .modal-header{
   background: #ff8c25;
   padding: 8px 5px;
border-radius: 4px 4px 0 0;
}
.modalA .modal-title{
	color: White;
	font-size: 16px;
	padding-left: 20px;
	text-align: left;
}
.modalA .modal-title small{
	color: White;
	padding-left: 10px;
}
.modalA hr{
	margin: 5px 0;
	border-color: #a4a4a4;
	border-style: dotted;
}
.modalA .modal-footer{
	padding:8px 5px;
}
.modalA h4{
   text-align: center;
}
.modalA h4 a{
	font-size: inherit;
}
.cardlist{
	padding-left: 30px;
	padding-right: 30px;
}

.card{
	border-radius: 4px;
	border: 1px solid #d8d8d8;
	padding: 0;
	margin-bottom:20px;
}
.card .cardhead{
	border-bottom: 1px solid #d8d8d8;
	padding: 0px 10px;	
	background: #f9f9f9;
	border-top:1px solid #f9f9f9; 
}
.card .cardinfo{
	padding: 20px 30px;
}
.card .cardfoot{
	padding:10px;
	border-top:1px solid #d8d8d8;
	background: #f9f9f9;
}
.addcard{
	border-radius: 4px;
	border: 3px dashed #d8d8d8;
	font-size: 20px;
	width: 100%;
	display: block;
	text-align: center;
	padding: 54px 0;
	line-height: 1em;
	color: #a0a0a0;
   cursor: pointer;
}
.addcard .addicon{
	font-size: 50px;
	color: #a0a0a0;
}
.addcard:hover{
	color:#ff8c25;
	border: 3px dashed #ff8c25;
}
.addcard:hover .addicon{
	color:#ff8c25;	
}
.addinvest{
   padding: 62px 0;	
}
.addpic{
  padding: 40px 0;
  min-height: 120px;
  margin-bottom: 10px;
}
.uploadpicview{
	text-align: center;
	clear: both;
   display: block;
   width: 100%;
}
.uploadpicview img{
	max-height: 120px;
	margin-bottom: 10px;
	border: 1px solid #CECECE;
}
.uploadpicview:hover img{
	border: 3px solid #ff8c25;	
}

.uploadpicview2{
   width: 100%;
}
.uploadpicview2 img{
	max-height: 50px;
	margin-bottom: 10px;
	border: 1px solid #CECECE;
}
.uploadpicview2:hover img{
}


.formA .text{
	padding-top: 10px;
	display: block;
}
.banklogo1{
}
.banklogo1 img{
	border: 2px solid #e6e6e6;
   padding: 2px 8px;
   margin-bottom: 10px;
	max-width:130px;
}
.banklogo1:hover img{
   border: 2px solid #ff9900;
	
}
.banklist .selectitem img{
   border: 2px solid #ff9900;
}
.rechargeform  label{
	line-height: 2.5em;
   text-align: right;
}

.selectbankcard {
	border: 2px solid #0066ff;
	width: auto;
	padding: 8px;
	width:250px;
	float: left;
	font-size: 14px;
}
.selectbankcard img{
	max-height: 30px;
}

.selectbankcard2{
	border: 2px solid #0066ff;
	padding: 8px;
	width:350px;
	font-size: 14px;
   cursor: pointer;
	margin: 0 auto;
	margin-bottom:10px;
}
.selectbankcard2 img{
	max-height: 30px;
	margin-right: 10px;
}

.unselectbankcard2{
	border: 2px solid #e2e2e2;
	padding: 8px;
	width:350px;
	font-size: 14px;
	margin: 0 auto;
	margin-bottom:10px;
   cursor: pointer;
}
.unselectbankcard2 img{
	max-height: 30px;
	margin-right: 10px;
}
.selectcp{
   background: #f5f5f5;
	padding: 20px;
}
.selectcp label{
	margin-bottom: 10px;
}
.tips1{
	border: 1px dashed #d7d4d5;
	padding:10px;
	width:100%;
	color: Black;
	font-size:13px;
	padding-top: 7px;
   margin-bottom: 10px;
}
.tips1 strong{
	color: Black;
	font-size:13px;
	
}
.tips1 span{
	position: relative;
	top:3px;
	color: Black;
	font-size:13px;
	line-height: 2.0em;
}
.tips1 p{
	line-height: 1.5em;
	padding: 10px;
	padding-left: 15px !important;
	font-size: 12px !important;
}
.userface200 a{
	height: 200px;
	overflow: hidden;
	display: block;
}
.userface200 a img{
   min-width: 200px;
	max-width: 200px;
	height: auto;
	overflow: hidden;
}

#servicesbar { 
    width:62px;  
	 position:fixed; 
	 _position:absolute; 
	 right:12px; 
	 top:0px;
}
#servicesbar .bar1{
	margin-bottom: 1px;
}
#servicesbar .bar1 a{
    background: #32b828;
	 display: block;	
}
#servicesbar .bar1 a:hover{
	background: #e1a100;
   background: #de0000;
	background: #e5ac00;
}
#servicesbar .bar2{
	margin-bottom: 1px;
}
#servicesbar .bar2 a{
	 display: block;	
	background: #ff3333;
}
#servicesbar .bar2 a:hover{
    background: #de0000;
}
#servicesbar #popOverBox a{
	background: white !important;
	color: #747474;
}
#servicesbar #popOverBox{
	min-width: 110px;
}
.userinfo{
	padding-top: 5px;
	font-size: 14px;
}
.rzicon {
	width:29px;
	height: 29px;	
	float: left;
	margin: 0 3px;
}
.rzicon a img{
	width:29px;
	height: 29px;
}
.rzicon a{
   display: block;
	width:29px;
	height: 29px;
}
.rz-mobile-1 a{
	background: url(../images/rzicon.png) no-repeat 0 0;
}

.rz-mobile-2 a{
	background: url(../images/rzicon.png) no-repeat 0 -32px;
}
.rz-mobile-2 a:hover{
	background: url(../images/rzicon.png) no-repeat 0 0px;	
}
.rz-sf-1 a{
	background: url(../images/rzicon.png) no-repeat -34px 0;
}
.rz-sf-2 a{
	background: url(../images/rzicon.png) no-repeat -34px -32px;
}
.rz-sf-2 a:hover{
	background: url(../images/rzicon.png) no-repeat -34px 0;
}


.rz-txpw-1 a{
	background: url(../images/rzicon.png) no-repeat -140px 0;
}
.rz-txpw-2 a{
	background: url(../images/rzicon.png) no-repeat -140px -32px;
}
.rz-txpw-2 a:hover{
	background: url(../images/rzicon.png) no-repeat -140px 0;
}

.rz-yhk-1 a{
	background: url(../images/rzicon.png) no-repeat -72px 0;
}
.rz-yhk-2 a{
	background: url(../images/rzicon.png) no-repeat -72px -32px;
}
.rz-yhk-2 a:hover{
	background: url(../images/rzicon.png) no-repeat -72px 0;
}
.jkstylepic{
	padding: 10px;
	padding-right:0;
}
.jkstylepic img{
	border-radius: 10px;
}

.jkstylepic2{
	width: 100px;
	border-radius: 6px;
	margin-right: 10px;
}
.uploadpart{
	padding-left: 100px;
	padding-right: 100px;
}
.jkpic{
	margin-top:10px;
	margin-bottom:10px;
}
.uploadpart  .col-xs-3{
	margin-bottom: 30px;
}

.helptab{
	border-color:#f5cfaa;
	border: none;
}
.helptab li{
	border-radius: 4px;
	padding:0px 10px;
   margin-bottom: 0px;
}
.helptab li a{
	text-align: center;
	background: #fff7dc;
	color: #ff7e00;
	font-size: 15px;
	font-weight: bold;
	border-radius: 4px;
}
.helptab li a:hover{
   background: #ff9e4f !important;
	color: White !important;
	border:none  !important;		
}
.helptab .active a{
   background: #ff9e4f !important;
	color: White !important;
	border:none  !important;
	border-radius: 4px;
}

.help-content	{
   margin-top:10px;
}
.help-content ul{
	min-height: 150px;
	padding: 10px 20px;
	background: #f6f6f6;
	border-radius: 10px;
}
.help-content ul li{
	width:320px;
	float: left;
	padding:5px 0;
}
.help-content ul li a{
	font-size: 14px;
	color: #666;
}
.help-content ul li a:hover{
	color:#009cff;	
	
}
.help-content ul .more{
	clear: both;
	text-align: right;
}
.help-content ul .more a{
	font-size: 14px;
}
.helplink h4{
}
.helplink h4 a{
	color: #666;
	font-size: 14px;
}
.helplink h4 a:hover{
	color:#009cff;	
}
.helpinfo{
	min-height: 965px;
}
.helpinfopart{
	padding: 10px 20px;
}
.helpinfopart h4 a{
	color: #333;
	font-weight: bold;
}
.helpinfopart *{
  font-size: 14px;
	
}
.helpinfopart  p{
	background: #f6f6f6;
	border-radius: 4px;
	padding: 10px;
	margin-bottom: 20px !important;
}
.helpinfopart p span{
   display: block;
	clear: both;
	text-align: right;
}
.helpinfopart p span a{
	color:#009cff;
}
.helpinfopart .title{
	text-align: center;
	padding: 20px;
}
.helpinfopart .title a{
	font-size: 18px;
	text-align: center;
	margin-bottom: 10px;
	color: #333;
	font-weight: bold;
}
.helpinfopart .detail{
	padding: 10px;
}

/*顶部*/
.header1{
	background: #607B8E;
	height:30px;
	width: 100% !important;
}
.header1 .row{
	width: 1110px;
	margin: 0 auto;
	height: 30px;
}
.icon-dianhua{
	position: relative;
	top: 1px;
	padding-right: 5px;
	color: #fff;
}
.icon-weixin{
	position: relative;
	top: 2px;
	padding-right: 3px;
	color: #fff;
}
.icon-dianhuaguaji,.icon-weixin2{
	color: white;
}
.header1 .userpart1 a{
	color: #fff;
	line-height: 27px;
	padding-right: 20px;
}
.header1 .userpart1 a:hover{
	color: #ffa804;
}
.header1 .alignright a{
	padding-right: 0;
	padding-left: 20px;
}/*顶部*/

/*导航栏*/
.header2{
	background:#F2F6F9;
	width: 100% !important;
	height: 100px;
}

.header2 .row{
	width: 1110px;
	margin: 0 auto;
}
.logo{
	float: left;
}
.topmenu{
	text-align: right;
	padding-top:30px;/
}
.topmenu .divider{
	padding: 0;
	margin: 0;
}
.topmenu .dropdown-menu{
	padding: 0;
	min-width:100px;
}
.topmenu .dropdown-menu li a{
	padding-top:10px;
	padding-bottom: 10px;
	font-size:15px;
}
.topmenu .nav-btn{
	font-weight: bold;
	color: #3d586b;
}
.topmenu  .cur{
	color:#e59026;
	font-weight:bold;
	border-top: 3px solid #e59026;
	margin-top: -3px;
	border-radius:0;
}
.topmenu  .cur:hover{
	color:#e59026;
	font-weight:bold;
	border-top: 3px solid #e59026;
	margin-top: -3px;
}

.btn-menu {
	color: #333;
	background-color: #F2F6F9;
	font-size: 15px;
	border: none;
}
.btn-menu:hover,
.btn-menu:focus,
.btn-menu.focus,
.btn-menu:active,
.btn-menu.active,
.open > .dropdown-toggle.btn-menu {
	color:#e59026;
	border-color: white;
}
.btn-menu:active,
.btn-menu.active,
.open > .dropdown-toggle.btn-menu {
	background-image: none;
}
.btn-menu.disabled,
.btn-menu[disabled],
fieldset[disabled] .btn-menu,
.btn-menu.disabled:hover,
.btn-menu[disabled]:hover,
fieldset[disabled] .btn-menu:hover,
.btn-menu.disabled:focus,
.btn-menu[disabled]:focus,
fieldset[disabled] .btn-menu:focus,
.btn-menu.disabled.focus,
.btn-menu[disabled].focus,
fieldset[disabled] .btn-menu.focus,
.btn-menu.disabled:active,
.btn-menu[disabled]:active,
fieldset[disabled] .btn-menu:active,
.btn-menu.disabled.active,
.btn-menu[disabled].active,
fieldset[disabled] .btn-menu.active {
	background-color: #fff;
}
.btn-menu .badge {
	color: #fff;
	background-color: #333;
}
.icon-jiantou1{
	color: #93a4ae;
	margin-left: -4px;
}
/*.icon-jiantou1:hover{*/
	/*color: #e59026;*/
/*}*/
.last-one-btn{
	margin-left: 9px;
}
.topmenu .myjDD {
	padding: 4px 2px 4px 10px;
	color: #93a4ae;
	/*background: url(../images/myJDD-logo.png) no-repeat 8px 7px;*/
	border: 1px solid #93a4ae;
	/*background-size: 18px 18px;     ie8不支持*/
	/*-moz-background-size:18px 18px; !* 老版本的 Firefox *!*/
	/*-webkit-background-size:18px 18px;*/
	/*-o-background-size:18px 18px;*/
	/* padding-left: 10px;
	padding-right:2px; */

}
.topmenu .myjDD span{
	color: #93a4ae;

}
#myJDD{
	margin-top: -3px;
}
.topmenu .myjDD:hover{
	color:#e59026;
	/*background: url(../images/myJDD-logo.png)no-repeat 8px 7px;*/
	border: 1px solid #93a4ae;
	/*background-size: 18px 18px;*/
	padding-left: 10px;
	padding-right: 2px;

}
/*内页*/
.inside-header{
	background:#fff;

}
.inside-header .btn-menu {
	background-color: #fff;
}
/*内页*/         /*导航栏*/


/*底部*/
.footer{
	background: #607B8E;
	border-top: 1px solid #d6d6d6;
	width: 100%!important;
	min-height: 340px;
	padding-top: 40px;
	margin-top:10px;
}
.footer .row{
	width: 1110px;
	margin: 0 auto;
}
.information{
	padding-bottom: 40px;
}
.footer .glyphicon-play{
	color: #848484;
	font-size:6px !important;
	padding-right:5px;
}
.footer ul{
	list-style: none;
	padding-left: 0;
}

.footer ul li a{
	color: #797979;
	font-size: 13px;
}
.footer ul li a:hover{
	color:#007eff;
}
.icon-loaction{
	padding-right: 3px;
	color: #fff;
}

/*company*/
.weixin{
	width:100px;
	padding-top:13px;
	padding-left:0;
}
.corporation{
	padding-top: 15px;
	/*padding-left: 40px;*/
	color: white;
}
.corporation ul li{
	padding-top: 3px;
	color: white;
}
.icon-wsmp-icprecord,.icon-daodianditu{
	color: white;
	padding-right: 5px;
}
.icon-daodianditu{
	font-size: 14px!important;
}
.service h2 i{
	font-size: 36px;
	/*padding-right: 15px;*/
}
.service{
	/*padding-top: 10px;*/
	padding-right: 0;
	text-align: center;
	color: white;
}
.icon-shijian{
	position: relative;
	top: 1px;
	color: white;
	padding-right: 6px;

}
.service p{
	color: white;
}/*company*/
.footermenu a{
	color: #444444;
	font-size: 12px;
	padding:0 5px;
}
.footermenu a:hover{
	color:#007eff;
}
.footer h3{
	font-size: 22px;
	margin: 5px 0 5px 0;
}
.link{
	font-size:13px;
	text-align: center;
}
.line1{
	border-top: 1px solid #a1bed0;
	padding: 10px;
	width: 1080px;
	margin: 0 auto;
}
.link .col-xs-12 span{
	color: #a0bdcf;
}
.link .col-xs-12 a{
	font-size: 13px;
	padding-right: 10px;
	color: #a0bdcf;
}
.link .col-xs-12 a:hover{
	color: #ff8c25;
}
.linkpic{
	text-align: center;
	padding: 25px 15px;
}
.linkpic a img{
	border: 1px solid #d2d2d2;
	width: 95px;
    /* filter:alpha(Opacity=50);
	-moz-opacity:0.5;
	opacity: 0.5 */
}
.linkpic a{
	margin-left: 10px;
	margin-right:10px;
}/*底部*/


/*首页部分*/
/*中间注册登录*/
.indexad{
	padding-left: 0;
	padding-right: 0;
	width:100%!important;
}
.indexad .adpic{
	width:100%;
	margin: 0 auto;
	position: relative;
}
.adpic .adpart{
	position: absolute;
	right: 250px;
	top: 30px;
	width: 380px;
	height: 300px;
	border-radius: 4px;
	padding:15px;
	text-align: center;
}
.adpic .adpart>img+p{
	position: absolute;
	font-size: 38px;
	top: 52px;
	left: 50%;
	margin-left: -37px;
	color: #fabd00;
}
.carousel-inner .item a img{
	height: 368px;
	margin: auto;
	width: auto;
}
.carousel-indicators .active{
    background-color: #FBBe01;
    border: 1px solid #FBBe01;
}
.carousel-indicators li{
    background-color: #ccc;
    border: 1px solid #ccc;
}
/*.adpic .adpart p:nth-child(2){*/
	/*position: absolute;*/
	/*font-size: 36px;*/
	/*top: 60px;*/
	/*left: 50%;*/
	/*margin-left: -37px;*/
	/*color: #fabd00;*/
/*!*}*!         ie8不支持*/
.adpic .adpart>img+p+p{
	position: absolute;
	color: #69A696;
	top: 105px;
	font-size: 18px;
	left: 50%;
	margin-left: -72px;
}
/*.index-register{*/
	/*padding: 3px 12px!important;*/
/*}*/
.btn-reg1 {
	width: 200px;
	position: absolute;
	top: 147px;
	color: white;
	background-color: #FBBe01;
	font-size: 20px;
	/*padding: 7px 30px;*/
	left: 50%;
	margin-left: -100px;
}
.btn-reg1:hover,
.btn-reg1:focus,
.btn-reg1.focus,
.btn-reg1:active,
.btn-reg1.active,
.open > .dropdown-toggle.btn-reg1 {
	background: #ffae00;
	color: White;
}
.btn-reg1:active,
.btn-reg1.active,
.open > .dropdown-toggle.btn-reg1 {
	background-image: none;
}
.btn-reg1.disabled,
.btn-reg1[disabled],
fieldset[disabled] .btn-reg1,
.btn-reg1.disabled:hover,
.btn-reg1[disabled]:hover,
fieldset[disabled] .btn-reg1:hover,
.btn-reg1.disabled:focus,
.btn-reg1[disabled]:focus,
fieldset[disabled] .btn-reg1:focus,
.btn-reg1.disabled.focus,
.btn-reg1[disabled].focus,
fieldset[disabled] .btn-reg1.focus,
.btn-reg1.disabled:active,
.btn-reg1[disabled]:active,
fieldset[disabled] .btn-reg1:active,
.btn-reg1.disabled.active,
.btn-reg1[disabled].active,
fieldset[disabled] .btn-reg1.active {
	background-color: #fff;
}
.btn-reg1 .badge {
	color: #fff;
	background-color: #333;
}

.btn-log1 {
    cursor:pointer;
	position: absolute;
	left: 50%;
	font-size: 14px;
	margin-left: -28px;
	top: 200px;
	color: #69A696;
	border-radius: 0;
	border-bottom: 1px solid #69A897;
	background: white;
	padding-bottom: 0;
}
.btn-log1:hover,
.btn-log1:focus,
.btn-log1.focus,
.btn-log1:active,
.btn-log1.active,
.open > .dropdown-toggle.btn-log1 {
	border-bottom: none;
	color: #69A696;
}
.btn-log1:active,
.btn-log1.active,
.open > .dropdown-toggle.btn-log1 {
	background-image: none;
}
.btn-log1.disabled,
.btn-log1[disabled],
fieldset[disabled] .btn-log1,
.btn-log1.disabled:hover,
.btn-log1[disabled]:hover,
fieldset[disabled] .btn-log1:hover,
.btn-log1.disabled:focus,
.btn-log1[disabled]:focus,
fieldset[disabled] .btn-log1:focus,
.btn-log1.disabled.focus,
.btn-log1[disabled].focus,
fieldset[disabled] .btn-log1.focus,
.btn-log1.disabled:active,
.btn-log1[disabled]:active,
fieldset[disabled] .btn-log1:active,
.btn-log1.disabled.active,
.btn-log1[disabled].active,
fieldset[disabled] .btn-log1.active {
	background-color: #fff;
}
.btn-log1 .badge {
	color: #fff;
	background-color: #333;
}/*中间注册登录*/


/*最新公告*/
.indexad1 .row{
	width: 1110px;
	margin: 5px auto;
}
.indexad1 .row div:first-child{
	text-align: left;
	/* padding-left: 0; */
	line-height: 24px;
}
.indexad1 .row .slogan{
	text-align: right;
	/* padding-right: 0; */
}
.indexad1 .notice span{
	color: #5f7a8d;
}
.indexad1 .row span a {
	color: #5f7a8d;
}
.indexad1 .row .notice>span+span{
	padding-right: 10px;
}
.indexad1 .row .slogan>span{
	color: #e59026;
	font-size: 16px;
	padding-right: 0;
	padding-left: 10px;
}/*最新公告*/

/*运营报告*/
.indexad2 .row{
	width:1080px;
	margin: 0 auto;
	margin-bottom: 5px;
	position: relative;
	background: #37BBD2!important;
	padding: 40px 0px 40px 0px;
}
.indexad2 .row div p{
	margin-bottom: 2px;
}
.indexad2 .row .accumulate{
	text-align: center;
	margin-top: -5px;
}
.indexad2 .row .investors{
	width: 300px;
	padding-left: 50px;
}
.indexad2 .row .investors p>span+span{
	font-size: 16px;
}
.indexad2 .row .trading p>span+span{
	font-size: 16px;
}
.indexad2 .row .newly-amount{
	text-align: right;
	padding-top: 11px;
	padding-right: 0;
}
.indexad2 .row .financing-amount{
	padding: 4px 4px 4px 12px;
	background: #37BBD2;
	color: white;
	border: 1px solid white;
}
.icon-qushitu{
	color: white;
}
.indexad2 .row .financing span{
	font-size: 21px;
}
.indexad2 .row span{
	color: white;
	font-size: 14px;
}
.indexad2 .row .amount-jiantou{
	color: white;
	font-size: 14px;
}
.indexad2 .row .amount{
	font-size: 16px;
}/*运营报告*/

/*广告*/
.indexad3 .row{
	width:1110px;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 15px;

}
.indexad3 .row div{
	/* padding-left: 3px;
	padding-right: 0; */
}
.indexad3 .row .quality-goods{
	padding-right: 0;
}
.indexad3 .row .high-annualized-yield{
	padding-left: 0;
}
.indexad3 .row .safety-guarantee{
	padding-left: 8px;
	padding-right: 8px;
}
.indexad3 .row .col-box{
	/* width: 344px;
	height: 250px; */
	background: #fff;
	text-align: center;
	vertical-align: middle;
	padding-top: 25px;
    padding-bottom: 25px;
}
.indexad3 .row .col-box img{
	padding-bottom: 10px;
}
.indexad3 .row .col-box span{
	font-size: 18px;
	color:#5f7a8d;
	font-weight: bold;
}
.indexad3 .row .col-box .english-descriptions{
	font-size: 14px;
}
.indexad3 .row .col-box span.describe{
	font-size: 14px;
	color: #999;
	font-weight: normal;
}/*广告*/


/*项目专区*/
.item-left{
	padding: 2px 0 2px 2px ;
	height: 100%;
}
.item-right{
	padding: 0;
}
.investment{
	border: 1px solid #F75620;
}
.partin .investment-left{
	text-align: center;
	background: #F75620;

	height: 466px;
}
.investment-left p{
	position: relative;
	top: 20px;

}
.investment-left span{
	font-size: 20px;
	color: white;
}
.partin .investment-left .more-invest{
	position: relative;
	top: 384px;
	background: #F75620;
	color: white;
	border: 1px solid white;
	padding-right: 5px;
}
.partin .investment-left .more-invest span{
	font-size: 14px;
	color: white;
}

.tzitem{
	padding:15px 0 10px 0;
	margin:0;
	border-bottom: 1px solid #e3e3e3;
}
.tzitem .col-xs-1 {
	padding-left: 0;
	width: 43px;
	padding-top: 7px;
}
.tzitem1 .col-xs-1{
	padding-left: 0;
	width: 43px;
	padding-top: 7px;
}
.tzitem1{
	padding:15px 0 10px 0;
	margin:0;
}
.tzicon{
	padding-right:5px;
}
.tzdetail{
	padding-left: 0;
}
/*.tzdetail p{*/
	/*padding-bottom: 5px;*/
/*}*/
.tztitle a{
	font-size: 16px;
	color: Black;
	padding: 0 4px;
}
.tztitle{
}
.tztitle a{
	padding-left: 0;
	color:#636363;
}
.tztitle a:hover{
	color:#ffa804;
}

.tzdetail span {

	color:#ff8f2a;
}
.bro-expect{
	margin-left: 5px;
}
.bro-expect .row{
	text-align: center;
}
.bro-expect .row span{
	color: #999;
	font-size: 14px;
}
.bro-expect .row .yield-rate{
	padding: 0;
}
.bro-expect .row .yield-rate p{
	padding-bottom: 3px;
}
.bro-expect .row .bro-figure{
	padding-bottom: 5px;
	color: #f15350;
	font-size: 17px;
}
.bid-state{
	margin-left: 16px;
	margin-top: 5px;
	padding-right: 0;
	text-align: center;
	padding-left: 20px;
}
.bid-state  .row{
	/*margin-left: -1px;*/
}
.bid-state  .row .col-xs-7{
	padding-left: 0;
	margin-left: -11px;
}
.in-bid{
	padding: 3px 15px 3px 15px;
	color: white;
	background-color: #FBBe01;
	font-size: 14px;
    width: 115px;
}
.income{
	padding: 3px 15px 3px 15px;
	color: white;
	background-color: #ccc;
	font-size: 14px;
    width: 115px;
}
.income:hover{
	background: #ccc;
	color: white;
}
.in-bid:hover{
	background: #ffae00;
	color: White;
}

.progress-bar-warning{
	background: #FBBe01;
}
.progress-bar-warning2{
	background: #72dd01;
}
.creditor{
	border: 1px solid #7BC286;
}
.partin .creditor-left{
	text-align: center;
	background: #7BC286;
	height: 230px;

}
.partin .creditor-left .more-claim{
	position: relative;
	top: 150px;
	background: #7BC286;
	color: white;
	border: 1px solid white;

}
.partin .creditor-left .more-claim span{
	font-size: 14px;
	color: white;
}
.creditor-left p{
	position: relative;
	top:20px;

}
.creditor-left span{
	font-size: 20px;
	color: white;
}
.item-jiantou{
	color: white;
} /*项目专区*/


.indexpart .partin{
	width:1080px;
	margin: 0 auto;
	margin-bottom: 10px;
	background: #fff;
}

.pstyle1{
	background: white;
	border:1px solid #e3e3e3;
	padding: 0 15px 0 15px;
    margin-bottom: 10px;
}
.pstyle-item{
	padding: 0 15px 0 15px;
}
/*动态和知识*/
.indexpart .partin-new{
	width:1080px;
	margin: 0 auto;
	margin-bottom: 10px;
	/*background: #fff;*/
}

.pstyle-new{
	background: white;
	border:1px solid #e3e3e3;
	padding: 0 15px 0 15px;
}
.indexpart .mainleft{
	padding-left:0;
	padding-right:10px;
	/* width: 746px; */
}
.indexpart .mainright{
	padding: 0;
	/* width:304px; */
}

.title1{
	/*margin: 0;*/
	/*padding:0;*/
}
.title1 .more{
	/*padding-right: 0;*/
}
.title1 .title{
	padding-left: 0;
	/*padding-right: 0;*/
	text-align: left!important;
}
.title1 .more a{
	padding: 10px 15px;
	display: block;
	padding-right: 0;
	color: #5f7a8d;
	font-weight: bold;
	font-size: 16px;
}
.title1 .more a:hover{
	color: #ffa804;
}
.title1 .title a{
	padding: 10px 15px;
	display: block;
	width: auto;
	white-space: nowrap;
	color: #5f7a8d;
	font-size:16px;
	font-weight:bold;
}
.title1 .title a:hover{
	color: #ffa804;
}
.picnewslist{
	padding:10px 0 0 0;
}
.picnewslist>div{
	padding-right: 0;
}
.picnewslist>div+div{
	padding-right: 0;
	padding-left: 0;
}
.picnewslist>div+div+div{
	padding-left: 0;
	padding-right: 15px;
}
.picnewslist .mid h4{
	padding: 0 11px;
}
.aligncenter h4{
	padding:0 3px ;
}
.newspic1{
	 max-width: 194px;
	max-height: 154px;
}
.picnewslist h4 a{
	font-size: 13px;
	color: #999;
}
.picnewslist h4 a:hover{
	color: #ffa804;
}

.title2{
	margin: 0;
	padding:0;
}
.title2 .title{
	padding-left: 0;
	padding-right: 0;
}
.title2 .more{
	padding-left: 0;
	padding-right: 0;
}
.title2 .more a{
	padding:10px 0 10px 15px;
	display: block;
	color: #5f7a8d;
	font-size:16px;
	font-weight: bold;
}
.title2 .more a:hover{
	color: #ffa804;
}
.title2 .title a{
	padding:10px 15px 10px 0;
	display: block;
	width: auto;
	white-space: nowrap;
	color: #5f7a8d;
	font-size:16px;
	font-weight:bold;
}
.title2 .title a:hover{
	color: #ffa804;
}
.infolist1{
	position: relative;
    top: -5px;
	padding-bottom: 10px;
}
.infolist1 .kownledge tr{
	line-height: 20px;
	border-bottom: 1px solid #e9e9e9 !important;

}
.infolist1 .kownledge tr td{
	padding:12px 0 1px 0;

}
/*.infolist1 .kownledge tr td:nth-child(odd){*/
	/*padding-right: 12px;*/
/*}*/
.infolist1 .kownledge tr a{
	color:#999;
	font-size: 14px;
}
.infolist1 .kownledge tr .k-date a{
	color: #ccc;
	font-size: 12px;
}/*动态和知识*/


/*合作伙伴*/
.partner .row{
	width: 1110px;
	margin: 0 auto;
}
.partner .row{
	padding-top: 10px;
	padding-bottom: 10px;
}
.partner .row .join{
	position: relative;
	top: 20px;
	left: 40px;
	font-size: 16px;
	color: #a0a0a0;
	padding: 0;
	text-align: right;
	/* line-height: 74px; */
}
.partner-logo{
	text-align: center;
}
.partner-logo img{
	width: 217px;
	padding-left: 25px;
	padding-right: 25px;
}  /*合作伙伴*/      /*首页部分*/

/*借款详情*/
.mainbody{
	width: 1030px!important;
	margin-top: 10px;
}
.mainbody .mainleft{
	padding-right: 0;
}
/*parta*/
.parta{
	background: White;
	border-radius: 2px;
	padding: 20px 25px;
	padding-bottom:10px;
	margin-bottom: 10px;
	-moz-box-shadow:2px 2px 2px #e0e0e0;
	-webkit-box-shadow:2px 2px 2px #e0e0e0;
	box-shadow:2px 2px 2px #e0e0e0;
	*filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color="#e0e0e0");
}
.jktitle{
	/*position: relative;*/
	height: 30px;
}
.jktitle img{
	position: relative;
	top: -20px;
	/* width: 50px; */
}
.jktitle span{
	font-size: 20px;
	position: relative;
	top: -8px;
	left: 12px;
	line-height: 1em;
	*margin-left:10px;
}
.jkdata{
	height: 124px;
	margin: 0;
	/*margin-top: 10px;*/
	padding-top: 52px;
	margin-bottom: 25px;
	clear: both;
	*height:80px;
	padding-left: 30px;
}
.jkdata .nll{
	color:#f15350;
	font-size: 36px;
	line-height: 1em;
	margin-bottom: -5px;
}
.jkdata .nll i{
	font-style: normal;
	color: #f15350;
	font-size: 24px;
	margin-left: -8px;
}
.jkdata .nll .adjust{
	margin-left: -7px;
}
.jkinfo-line{
	padding: 5px 0;
	border-top: 1px dashed #ccc;
	margin-bottom:5px;
}

.jkinfo span{
	color: #999;
}
.jkinfo{
	padding-bottom: 10px;
}
.assure{
	padding-left: 0px;
}
.jkinfo .hint1{
	width: 136px;
}
.jkinfo .hint2{
	padding-left: 0;
	width: 146px;
}
.jkinfo .icon-jiantou{
	color: #ff8c25;
	font-size: 12px;
}
/*partb*/
.partb{
	background: #DDDEE0;
	border-radius: 2px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	-moz-box-shadow:2px 2px 2px #e0e0e0;
	-webkit-box-shadow:2px 2px 2px #e0e0e0;
	box-shadow:2px 2px 2px #e0e0e0;
	*filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color="#e0e0e0");
}
.partb .tbtool{
	padding:35px;
	padding-bottom:0;
}

.tbform1 p{
	/*margin-bottom: 8px;*/
}
.tbform1 p span{
	line-height: 12px;
	/*font-weight: bold;*/
	font-size: 14px;
	color: #5f7a8d;
}
.tbform1 p i{
	font-style: normal;
	color: #ff8c25;
	font-size: 20px;
	padding-right: 5px;
}
.tbform1 .form-group{
	margin-bottom: 6px;
	margin-top:12px;
}
.input01{
	height: 38px;
	border-radius: 4px;
	color:#e7420a;
	/*padding: 0 10px;*/
	*width: 263px;
}
.input01:hover{
	background: #fffca9;
	border:1px solid #e7420a;
}

.input01::-moz-placeholder {
	color: #ccc;
	font-size: 12px;
	line-height: 12px;
	opacity: 1;
}
.input01:-ms-input-placeholder {
	color: #ccc;
	font-size: 12px;
	line-height: 12px;
}
.input01::-webkit-input-placeholder {
	color: #ccc;
	font-size: 12px;
	line-height: 12px;
}
.txt-placeholder{
	color: #ccc;
	font-size: 12px;
	padding-top: 7px!important;
}
.btn-tz{
	background: #2AABD1;
	color: White;
	width: 100%;
	border: none;
	font-size: 18px;
	margin: 7px 0;
	/*letter-spacing: 7px;*/
}
.btn-all-made{
	background: #BCD321;
	color: White;
	width: 100%;
	border: none;
	font-size: 18px;
	margin:7px 0 28px 0;
}
.btn-tz:hover,.btn-all-made:hover{
	color: White;
	background: #ff5400;
}

/*收益中*/
.pb-tool{
	padding: 35px 35px 24px 35px;
}
.earnings{
	text-align: center;
}
.earnings img{
	/* width: 110px; */

}
.earnings>p{
	padding-top: 5px;
	font-size: 18px;
	color: #f15350;
}
.earnings>p+p{
	font-size: 12px;
	color: #5f7a8d;
	padding-top: 5px;
}
/*.earnings p:nth-child(3){*/
	/*font-size: 16px;*/
	/*color: #f15350;*/
/*}*/
/*.earnings p:nth-child(4){*/
	/**/
/*}*/
.earnings .btn-look{
	background: #2aabd2;
	color: White;
	width: 100%;
	border: none;
	font-size: 18px;
	margin:25px 0 0 0;
}
.btn-look:hover{
	color: White;
	background: #ff5400;
}
/*partc*/

.partc{
	background: White;
	border-radius: 2px;
	padding-bottom:10px;
	margin-bottom: 10px;
	-moz-box-shadow:2px 2px 2px #e0e0e0;
	-webkit-box-shadow:2px 2px 2px #e0e0e0;
	box-shadow:2px 2px 2px #e0e0e0;
	*filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color="#e0e0e0");
}


/*标题左右横线*/
/*CSS伪类用法*/
.jkxqtitle{
	padding :10px 10px  10px  32px;
	position: relative;
}
.jkxqtitle div{
	font-size:14px;
	color:#f85621;
	/*font-weight: bold;*/
}
.jkxqtitle div:before,.jkxqtitle div:after{
	content: "";
	height: 3px;
	position: absolute;
	background: #b5b5b5;
	top: 50%;

}
.jkxqtitle div:before{
	width: 3%;
	left: 8px;

}
.jkxqtitle div:after{
	width: 84%;
	right: 8px;
}  /*标题左右横线*/


.jkxqdetail{
	padding:10px 25px 20px 32px;
}
.jkxqdetail .jkrz{
	margin: 0;
}
.jkxqdetail .jkrz .col-xs-3{
	/* text-align:  center; */
	padding: 15px 0 15px 0;
	color: #999;
}
.jkxqdetail .view01{
	margin: 0;
}
.jkxqdetail .view01 .col-xs-4{
	padding: 5px 0 5px 0;
	color: #999;
}
.jkxqdetail pre {
    line-height: 2.5;
    padding: 0 0 9.5px 0 !important;
	color: #999 !important;
	white-space: pre-wrap;
}

.jkxqdetail p{
	color: #999;
	line-height: 2em;
}
.jkxqdetail .sub-culture{
	margin-left: 20px;
}
.jkxqdetail .piclist{
	margin: 0;
}
.jkxqdetail .piclist .col-xs-6{
	padding: 5px 0 5px 0;
}
.jkxqdetail .piclist .col-xs-6 a{
	color: #999;
	font-size: 14px;
}
.jkxqdetail .piclist .col-xs-6 i{
	font-style: normal;
	color: #bbbbbb;
	font-size: 14px;
}
.jkxqdetail .piclist .col-xs-6 a:hover{
	text-decoration: underline;
}
.plist1 ul li a img{
	border:1px solid #e6e6e6;
	padding: 5px;
}
.plist1 ul li a:hover img{
	border:1px solid #e7420a;
	background: #fffb8d;
}
.plist1 ul{
	padding: 0;
}
.plist1 ul li{
	list-style: none;
	float: left;
	margin-right:8px;
}

.tztj1{
	text-align: left;
	font-size: 14px;
	color: #999;
	padding: 10px 10px 10px 0;
	margin: 0;
}
.tztj1 i{
	color: #f15350;
	font-style: normal;
	font-size: 14px;
}
/*.tzjltable tr:nth-child(odd){*/
	/*background: #f7f7f7;*/
/*}*/
.tzjltable th{
	background: white;
	padding: 10px;
	text-align: center;
	border-bottom:1px solid #000;
}
.tzjltable td{
	padding: 10px;
	text-align: center;
}

.tzjltable tr:hover td{
	background:#Ffebd3;
}
/*投资概况*/
.partc .survey{
	padding: 20px 25px 20px 25px;
}
.jktitle2{
	font-weight: bold;
	line-height: 1.42857143;
	font-size: 17px;
	color: #5f7a8d;

	padding: 0 0 14px 0;
	margin-right: 0;
	border-bottom: 1px solid #ddd;
}
/*投资人数*/
.tz-number{
	padding: 20px 0 0 0;
	margin: 0;
	font-size: 14px;
}
.tz-number.div{
	padding-left: 0;
}
.tz-number .icon-renshu{
	color: #29aad1;
}
.tz-number i{
	/*padding-left: 15px;*/
	color: #ff8c25;
	font-style: normal;
	font-size: 16px;
	/*font-weight: bold;*/
}
.tz-number .col-xs-11,.tz-number .col-xs-1{
	padding: 0;
}
.tz-number .col-xs-1{
	padding-right: 15px;
}
.tz-number .col-xs-11{
	color: #929292;
	/*padding-left: 7px;*/
	text-align: left;
}/*投资人数*/

/*人均投资*/
.tztj2{

	padding: 10px 0 20px 0;
	border-bottom: 1px solid #ddd;
	margin: 0;
	font-size: 14px;
}
.tztj2 i{
	color: #ff8c25;
	font-style: normal;
	font-size: 16px;
	/*font-weight: bold;*/
	/*padding-left: 15px;*/
}
.tztj2 .icon-iconfonttouzi{
	color: #29aad1;
	position: relative;
	top: 1px;
}
.tztj2 .col-xs-11,.tztj2 .col-xs-1{
	padding: 0;
}
.tztj2 .col-xs-1{
	padding-right: 15px;
}
.tztj2 .col-xs-11{
	color: #999;
	/*padding-left: 7px;*/
	text-align: left;
}  /*人均投资*/
.tzph{
	padding: 15px;
	border: none;
}
.tzph>div+div{
	padding-left: 0;
	padding-top: 4px;
}
.tzph span{

	color:#999;
	font-size: 12px;
	line-height: 24px;
}
.tzph .col-xs-1{
	margin-bottom: 5px;
	padding-left: 0;
}.tzph .icon-paixingbang{
	 color: #29aad1;
	font-size: 20px;
 }
 .top-three img{
	 margin-top: -3px;
 }
.phbtable{
	margin-top: 10px;
}
.phbtable tr{
	height: 37px;
}
.phbtable td{
	color: #999;
	padding: 5px 0 5px 0;
}
.phbtable .top{
	color: #29aad1;
	font-weight: bold;
}/*借款详情*/

/*投资列表*/
.listed{
	margin-left: 0;
	margin-right: 0;
}
.jkscreen{
	padding: 20px;
	font-size: 13px;
	padding-top:30px;
}
.jkscreen *{
	font-size: 13px;
}
.jkscreen div:nth-child(odd){
	color: #5f7a8d;
	font-weight: bold;

}
.jkscreen .item a{
	padding: 5px 10px;
	border-radius: 2px;
	margin-right: 7px;
	color:#2f2f2f;
}
.jkscreen .item a:hover{
	background: #5f7a8d;
	color: White;
}
.jkscreen .item a:actived{
	color:#2f2f2f;
}
.jkscreen .item .active{
	background: #5f7a8d;
	color: White;
}
.jkscreen .col-xs-2{
	padding: 0;
	margin-bottom: 15px;
}
.jkscreen .col-xs-10{
	margin-bottom:15px;
	padding-right:0;
}
/*----原来---*/
.tzitem .itemleft{
	padding-right: 0;
	padding-left: 0;
	width:520px;
}
.tzitem .itemright{
	padding-top:0px;
	text-align: center;
	padding-right: 0;
	width:150px;
}

.tzitem .itemleft2{
	padding-right: 0;
	padding-left: 0;
}
.tzitem .itemright2{
	padding-top:0px;
	text-align: center;
	padding-right: 0;

}/*----原来---*/

/*改*/
.tzlist .bor-money{
	padding-bottom: 15px;
}
.tzlist .list-left{
	padding-right: 5px;
}
.tzlist .list-left img{
	position: absolute;
	padding: 0 20px 0 0;
}
.tzlist .list-right img{
	position: absolute;
	padding: 0 20px 0 0 ;
}
.tzlist .list-right{
	padding-left:5px;
}
.tzlist .list-title img{
	/* width: 68px; */
	position: relative;
	left: 13px;
	top: 1px;
}
.list-title>div+div{
	/*position: relative;*/
	/*top: 18px;*/
	height: 95px;
	padding-top: 20px;
}
.list-title span:first-child a{
	font-size: 18px;
	color: #3d3d3d;
}
.list-title .subtitle{
	font-size: 12px;
	color: #ff7900;
}
.list-data{
	padding-top: 10px;
	padding-left: 50px;
}
.list-data .nll{
	color: #f15350;
	font-size: 23px;
	line-height: 1em;
}
.list-data .nll i {
	font-style: normal;
	color: #f15350;
	font-size: 18px;
	margin-left: -8px;
}
.list-data span{
	color: #999;
}
.list-data .adjust{
	margin-left: -7px;
}

.left-set{
	width: 385px;
	padding-right: 0;
}
.right-set{
    height:194px;
	width: 124px;
	text-align: center;
}
/*.remove-left{*/
	/*padding-left: 0;*/
/*}*/
/*.set-revenus{*/
	/*text-align: center;*/
/*}*/
canvas{
	/*padding-top: 25px;*/
	margin-top: 25px;
}
.btn-bidding{
	position: relative;
	/*top: 20px;*/
	background: #e59025;
	background: -wbkit-linear-gradient(to right,#c8842f,#e48f25);/*Safari   5.1-6.0*/
	background: -o-linear-gradient(to right,#c8842f,#e48f25);/*Opera   11.1-12.0*/
	background: -moz-linear-gradient(to right,#c8842f,#e48f25);/*Firefox  3.6-15*/
	background: linear-gradient(to right,#c8842f,#e48f25);/*标准的语法必须放在最后*/
	color: White;
	border: none;
	font-size: 16px;
	border-radius: 20px;
	width: 90px;
}
.btn-revenue{
	position: relative;
	top: 120px;
	background: #a8a8a8;
	background: -wbkit-linear-gradient(to right,#b9b9b9,#979797);/*Safari   5.1-6.0*/
	background: -o-linear-gradient(to right,#b9b9b9,#979797);/*Opera   11.1-12.0*/
	background: -moz-linear-gradient(to right,#b9b9b9,#979797);/*Firefox  3.6-15*/
	background: linear-gradient(to right,#b9b9b9,#979797);/*标准的语法必须放在最后*/
	color: White;
	border: none;
	font-size: 16px;
	border-radius: 20px;
	width: 90px;
}
.tzlist .right-set img {
	width: 110px;
	padding-top: 25px;
}

/*分页*/
.aligncenter{
	padding-bottom: 10px!important;
}
.pager{
	margin-bottom: 10px;
}
/*.pager .previous a{*/
	/*background-color: #dfe3e6;*/
/*}*/
.pager .active{
	background: #e68f26;
	color: White;
	border: 1px solid #e68f26;
}
.pager .active:hover{
	background: #e68f26;
	color: White;
	border: 1px solid #e68f26;
}
.pager li {
	display: inline-block;
    padding: 0 2px;
}
.pager li a {
	border-radius: 3px;
	color: #999;
}
.pager li a span{
	color: #999;
}
.pager li a:hover{
	background: #e68f26;
	color: White;
	border: 1px solid #e68f26;


}
.pager li a:hover span{
	color: White;
}/*分页*/        /*投资列表*/

.btn-info-new{
    font-size: 18px;
    margin: 23px 0 0 0;
    background-color: #2aabd2;
}
.popover-content #popOverBox{
	width: 132px;
}
/* 债权转让  详情*/
.zqzrdata{
	padding-top: 30px;
}
.zqzrdata .row{
	background: #f0f9fb;
	 padding:20px 0;
	 width: 100%;
	 margin: 0 auto;
	 margin-top: 2px;
 }
 .zqzrdata .row *{
	 color: #999;	
 }
 .zqzrdata .row .col-xs-4{
	 text-align: center;
 }
 .zqzrdata .ft1{
	 color: #0074f7;
	 font-size: 20px;
 }
 .zqzrdata .ft1 small{
	 color: #0074f7;	
 }
 .zqzrdata .ft2{
	 color: #e8690a;
	 font-size: 20px;
 }
 .zqzrdata .ft2 small{
	 color: #e8690a;	
 }
 .zqzrdata span{
	 margin-left: -4px;
 }

/* 债权转让 详情*/